
  /* font family: Abel */
@font-face {
    font-family:Abel ;
    src: url(../google-fonts/Abel/Abel-Regular.ttf);
}

  /* font family: Anton */

@font-face {
    font-family: Anton;
    src: url(../google-fonts/Anton/Anton-Regular.ttf);
}

/* font family: Josefin */

@font-face {
    font-family: Josefin;
    src: url(../google-fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

/* font family: lexden */

@font-face {
    font-family: Lexend;
    src: url(../google-fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

/* font family: lexden */ 

@font-face {
    font-family: Livvic;
    src: url(../google-fonts/Livvic/Livvic-Regular.ttf);
}